version: "2.2"

services:
  nginx:
    build:
      context: .
      dockerfile: web.dockerfile
    ports:
      - "80:80"
      - "443:443"
    networks:
      - apps-net
    restart: always
    volumes:
      - ./nginx/conf/:/etc/nginx/conf.d/:ro
      - ./certbot/www/:/var/www/certbot/:ro
      - ./certbot/conf/live/auto.alrca.com/fullchain.pem:/etc/nginx/ssl/live/auto.alrca.com/fullchain.pem
      - ./certbot/conf/live/auto.alrca.com/privkey.pem:/etc/nginx/ssl/live/auto.alrca.com/privkey.pem
    depends_on:
      - certbot

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw
    networks:
      - apps-net

networks:
  apps-net:
    external: true